.ordermain{
    display: flex;
    width: 60%;
    margin:20px auto;
}
.producthmain
{
    width:70%;
}
.producthcontainer
{
    display: flex;
    margin:15px;
    border:1px solid rgb(187, 187, 187);
}
.c1{
    padding:5px;
}

.c2{
    text-align: start;
    width:75%;
}

.c3{
    width:5%;
    cursor: pointer;
}
hr
{
    width: 100%;
}