.usermain
{
    display: flex;
    width: 100%;
}
.detailcontainer
{
    width:20%;
    height:20%;
    margin: 5% auto;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.userform
{
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
}
.userdetail
{
    /* margin-left: 2%; */
    text-align: start;
}
.navigationcontainer
{
    /* width:10% */
}
.inputbox
{
    width: 17vw;
    padding: 1.5%;
    margin: 8px 0;
    display: inline-block;
    border: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
    background: transparent;
}
.addDetail {
    margin-top: 5%;
    background-color: #f0d9bc;
    color:black;
}
.profiledetail
{
    
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
}